{% extends 'veterinaria/base.html' %}

{% block title %}Detalles de la Vacuna{% endblock %}

{% block content %}
    <h1>{{ object.nombre }}</h1>
    <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
    <p><strong>Fecha de Aplicación:</strong> {{ object.fecha_aplicacion }}</p>
    <p><strong>Dosis:</strong> {{ object.dosis }}</p>
    <p><strong>Mascota:</strong> {{ object.mascota.nombre }}</p>
    <a href="{% url 'vacuna_list' %}" class="btn btn-secondary">Volver a la lista</a>
    <a href="{% url 'vacuna_update' object.pk %}" class="btn btn-primary">Editar</a>
{% endblock %}
